<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Login</button>
  </form>
  <hr>
  <!-- <button mat-raised-button color="accent" type="button" (click)="signInWithGoogle()">Login with Google</button> -->
  <div class="social-btn" style="display: flex; justify-content:center" (click)="signInWithGoogle()">
    <div class="social-icon-wrapper">
      <img class="social-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
    </div>
    <p class="btn-text" ><b>Sign in with google</b></p>
  </div>
  <hr>
  <!-- <button mat-raised-button color="accent" type="button" (click)="signInWithFB()">Login with Facebook</button> -->
  <div class="social-btn" style="display: flex; justify-content:center" (click)="signInWithFB()">
    <div class="social-icon-wrapper" >
      <img class="social-icon" src="https://cdn-icons-png.flaticon.com/512/124/124010.png"/>
    </div>
    <p class="btn-text"><b>Sign in with facebook</b></p>
  </div>
  
</mat-card>
