mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
  position: relative;
}

.image-preview img {
  height: 100%;
}

.image-remove-button{
  position: absolute;
  cursor: pointer;
  top: -3px;
  right: -3px;
  font-size: 18px;
  color: #dc3545;
  background: #ffff;
  border-radius: 10px;
}

.secondaryImagePreviewContainer{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.category-container{
  display: flex;
  gap: 100px;
}
