<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onforgotPassword(forgotPasswordForm)" #forgotPasswordForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput name="email" [(ngModel)]="emailId" type="email" placeholder="Please enter otp sent to your mailId" required email>
      <!-- <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error> -->
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Continue</button>
  </form>
</mat-card>

  
  