
<div class="container" style="background-color: #388e3c;padding:20px" *ngIf="itemCount>0">
  <div class="top-container">
    <div style="margin-bottom: 20px;" *ngFor="let cartItem of cartItems;let index=index" >
      <div *ngIf="!cartItem.saveForLater">
        <mat-card class="example-card">
          <mat-card-content>
              <div class="row" (click)="orderClicked(cartItem)">
                <div class="col-6-12">
                  <div class="row">
                    <div class="col-3-12">
                      <div class="order-image-container-flex">
                        <div class="order-image-container">
                          <img class="order-image" [alt]="cartItem.content" [src]="cartItem.imagePath">
                        </div>
                      </div>
                    </div>
                    <div class="col-10-12">
                      <div class="content-detail-container">
                        <span class="row content-container">
                          {{cartItem.content}}
                        </span>
                      </div>
                      <div class="rating-container">
                        <div class="rating-div">
                          4.2
                          <img class="rating-star" src="https://static8.depositphotos.com/1338574/831/i/600/depositphotos_8318731-stock-photo-gold-star.jpg">
                        </div>
                      </div>
                      <div class="price-container">
                        <div class="selling-price-container">
                          ${{cartItem.price}}
                        </div>
                        <div class="actual-price-container">
                          ${{cartItem.actualPrice}}
                        </div>
                        <div class="discount-percentage">
                          {{cartItem.discountPercentage}}% off
                        </div>
                      </div>
                      <div class="seller-detail-container">
                        <span style="margin: 0 3px 0 0;">Seller:</span>
                        <span>Myself</span>
                      </div>
                    </div>
                  </div>
                </div>
          
                <div class="row col-4-12 order-info-container" >
                  <div>
                    <div>
                      <div class="delivery-message"> Delivery in {{cartItem.deliveryPeriod}} |<span style="color: #388e3c;"> {{cartItem.deliveryCharge}} </span> </div>
                    </div>
                    <div class="review-text-container">
                      <div class="review-text-container-flex row">
                        <a style="cursor: pointer;">
                          <span class="review-text">{{cartItem.replacementPeriod}} Days Replacement Pollicy</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="saveLaterUpdate(index,'saveLater')">Save For Later</button>
            <button mat-button>Order</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="bottom-container">
    <mat-card class="example-card">
      <mat-card-content>
        <div>
          <span class="price-detail-header">
            PRICE DETAILS
          </span>
    
          <div class="price-detial-container">
            <div class="price">
              <div class="price-items-container">
                Price ({{itemCount}} items)
              </div>
              <span>${{amount}}</span>
            </div>
          </div>
    
          <div class="discount-detial-container">
            <div class="discount">
              <div class="discount-items-container">
                Discount
              </div>
              <div style="color:#388e3c"> - ${{discountAmount}}</div>
            </div>
          </div>
    
          <div class="delivery-detial-container">
            <div class="delivery">
              <div class="delivery-items-container">
                Delivery Charges
              </div>
              <div style="text-transform:uppercase; color:#388e3c">Free</div>
            </div>
          </div>
    
          <div class="total-dash-border">
            <div class="total-detial-container">
              <div class="total">
                <div class="total-items-container">
                  Total Amount
                </div>
                <div style="text-transform:uppercase; color:#388e3c">{{totalAmount}}</div>
              </div>
            </div>
          </div>
    
          <div class="savings-message">
            You will save ${{savinngsAmount}} on this order
          </div>

          <div class="place-order-button">
            Place Order
          </div>
    
        </div>
        
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div *ngIf="itemCount === 0">
  <mat-card>
    <mat-card-content style="text-align: center;height:200px">
      <p>No Items to display in the cart</p>
    </mat-card-content>
  </mat-card>
</div>

<!-- <mat-card class="paginator-card">
  <mat-drawer-content>
    <mat-paginator [length]="totalProducts" [pageSize]="productsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
    *ngIf="cartItems.length > 0"></mat-paginator>
  </mat-drawer-content>
</mat-card> -->


  <div class="top-container" style="margin-top: 25px; background-color:grey; padding:20px" *ngIf="saveItemCount > 0"> 
    <div style="margin-bottom: 20px;" *ngFor="let cartItem of cartItems;let index=index" >
      <div *ngIf="cartItem.saveForLater">
        <mat-card class="example-card">
          <mat-card-content>
              <div class="row" (click)="orderClicked(cartItem)">
          
                <div class="col-6-12">
                  <div class="row">
                    <div class="col-3-12">
                      <div class="order-image-container-flex">
                        <div class="order-image-container">
                          <img class="order-image" [alt]="cartItem.content" [src]="cartItem.imagePath">
                        </div>
                      </div>
                    </div>
                    <div class="col-10-12">
                      <div class="content-detail-container">
                        <span class="row content-container">
                          {{cartItem.content}}
                        </span>
                      </div>
                      <div class="rating-container">
                        <div class="rating-div">
                          4.2
                          <img class="rating-star" src="https://static8.depositphotos.com/1338574/831/i/600/depositphotos_8318731-stock-photo-gold-star.jpg">
                        </div>
                      </div>
                      <div class="price-container">
                        <div class="selling-price-container">
                          ${{cartItem.price}}
                        </div>
                        <div class="actual-price-container">
                          ${{cartItem.actualPrice}}
                        </div>
                        <div class="discount-percentage">
                          {{cartItem.discountPercentage}}% off
                        </div>
                      </div>
                      <div class="seller-detail-container">
                        <span style="margin: 0 3px 0 0;">Seller:</span>
                        <span>Myself</span>
                      </div>
                    </div>
                  </div>
                </div>
          
                <div class="row col-4-12 order-info-container" >
                  <div>
                    <div>
                      <div class="delivery-message"> Delivery in {{cartItem.deliveryPeriod}} |<span style="color: #388e3c;"> {{cartItem.deliveryCharge}} </span> </div>
                    </div>
                    <div class="review-text-container">
                      <div class="review-text-container-flex row">
                        <a style="cursor: pointer;">
                          <span class="review-text">{{cartItem.replacementPeriod}} Days Replacement Pollicy</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="saveLaterUpdate(index, 'removeSaveLater')">Add To Cart</button>
            <button mat-button (click)="onDelete(cartItem.id)">Remove From Cart</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  
  
<!-- Div Style -->
   <!-- <div style="margin: 20px;" *ngFor="let cartItem of cartItems;let index" >
      <div class="row" (click)="orderClicked(cartItem)">
  
        <div class="col-6-12">
          <div class="row">
            <div class="col-3-12">
              <div class="order-image-container-flex">
                <div class="order-image-container">
                  <img class="order-image" [alt]="cartItem.content" [src]="cartItem.imagePath">
                </div>
              </div>
            </div>
            <div class="col-10-12">
              <div class="content-detail-container">
                <span class="row content-container">
                  {{cartItem.content}}
                </span>
              </div>
              <div class="rating-container">
                <div class="rating-div">
                  4.2
                  <img class="rating-star" src="https://static8.depositphotos.com/1338574/831/i/600/depositphotos_8318731-stock-photo-gold-star.jpg">
                </div>
              </div>
              <div class="price-container">
                <div class="selling-price-container">
                  ${{cartItem.price}}
                </div>
                <div class="actual-price-container">
                  ${{cartItem.actualPrice}}
                </div>
                <div class="discount-percentage">
                  {{cartItem.discountPercentage}}% off
                </div>
              </div>
              <div class="seller-detail-container">
                <span style="margin: 0 3px 0 0;">Seller:</span>
                <span>Myself</span>
              </div>
            </div>
          </div>
        </div>
  
        <div class="row col-4-12 order-info-container" >
          <div>
            <div>
              <div class="delivery-message"> Delivery in {{cartItem.deliveryPeriod}} |<span style="color: #388e3c;"> {{cartItem.deliveryCharge}} </span> </div>
            </div>
            <div class="review-text-container">
              <div class="review-text-container-flex row">
                <a style="cursor: pointer;">
                  <span class="review-text">{{cartItem.replacementPeriod}} Days Replacement Pollicy</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mat-paginator [length]="totalProducts" [pageSize]="productsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
      *ngIf="cartItems.length > 0"></mat-paginator>
    
     -->