<div class="top-container">
    <div style="margin: 20px;" *ngFor="let orderItem of orderItems" >
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{orderItem.title}}</mat-card-title>
          <mat-card-subtitle>{{orderItem.content}}</mat-card-subtitle>
        </mat-card-header>
            
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <a [routerLink]="['order-detail']" [queryParams]="{orderId:orderItem.orderId,content:orderItem.content,creator:orderItem.creator,imagePath:orderItem.imagePath,title:orderItem.title,address:orderItem.address,orderStatus:orderItem.orderStatus,postId:orderItem.postId,userId:orderItem.userId}"><img mat-card-image src={{orderItem.imagePath}} alt="Photo of a Shiba Inu"></a>
        
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="onDelete(orderItem.id)">Remove from Cart</button>
          <button mat-button>Order</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
    *ngIf="orderItems.length > 0"></mat-paginator>
  
  