.full-row{
    display: grid;
    grid-template-columns: 100%;
    margin-top: 20px;
}

.comment-box{
    min-height: 90px;
}

.mat-form-field{
    width: 100%;
}

::ng-deep.mat-form-field-infix{
    border: 2px solid grey;
    margin-top: 20px;
}

::ng-deep.mat-form-field-label-wrapper{
    overflow: unset !important;
}

::ng-deep.mat-form-field-appearance-legacy .mat-form-field-label{
    left:10px !important;
    overflow: unset !important;
}

::ng-deep.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    left: 0px !important;
    transform: translateY(-1.88125em) scale(1) !important;
    margin-left: 0px !important;
    padding-left: 0px !important;
}

.white-icon{
    color:rgb(236 235 235);
    margin: 35px 15px 0px 0px;
}

.yellow-icon{
    color:rgb(255, 215, 0);
    margin: 35px 15px 0px 0px;
}

input[type="file"] {
    visibility: hidden;
}

.imagePreviewContainer{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.image-preview {
    height: 5rem;
    margin: 1rem 0;
    position: relative;
}

.image-preview img {
    height: 100%;
}

.image-remove-button{
    position: absolute;
    cursor: pointer;
    top: -3px;
    right: -3px;
    font-size: 18px;
    color: #dc3545;
    background: #ffff;
    border-radius: 10px;
}