<div class="top-container">
    <div style="margin: 20px;" *ngFor="let category of categoryList" >
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{category._id}}</mat-card-title>
        </mat-card-header>
            
        <img [routerLink]="['product',category._id]" mat-card-image src={{category.lowestPriceProduct.imagePath}} alt="Photo of a Shiba Inu">
        <mat-card-content [routerLink]="['product',category._id]">
          <p>Price starts at ${{category.lowestPriceProduct.price}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <!-- <mat-paginator [length]="totalProducts" [pageSize]="productsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
    *ngIf="products.length > 0"></mat-paginator> -->
  
  