:host {
    display: block;
    margin-top: 1rem;
  }
  
  mat-spinner {
    margin: auto;
  }
  
  mat-paginator {
    margin-top: 1rem;
  }
  
  .info-text {
    text-align: center;
  }
  
  .post-image {
    width: 100%;
  }
  
  .post-image img {
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }
  
  .example-card {
    max-width: 200px;
    /* max-height: 100px; */
  }
  
  .example-header-image {
    /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
    background-image: url("http://localhost:3000/images/mypic.jpg");
    background-size: cover;
  }
  
  .top-container{
    display: flex;
    flex-wrap: wrap;
  }
  
  .mat-card-image{
    width:-webkit-fill-available;
    height:230px ;
  }
  
  mat-card-header{
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
  
  mat-card-subtitle{
    width: 150px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    margin-bottom: 25px;
  }
  
  mat-card-content{
        display: block;
        margin-bottom: 16px;
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 118px; 
  }